/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

body {
  background: linear-gradient(to left, #fe8c00 , #f83600); 
}

body {
  color: white;
  font-family: 'San Francisco';
  text-align: center;
}

h1 {
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 0.2em;
}

h2 {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 200;
}

form {
  max-width: 640px;
  margin: 24px auto 0;
}
fieldset {
  margin: 30px 0;
  padding: 0;
  border: 0;
}
input {
  margin-top: 24px;
  display: block;
  width: 100%;
  height: 3em;
  padding: 4px 16px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  background: rgba(255,255,255,0.97);
  color: #212121;
  outline: 0;
  appearance: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 0 rgba(0,0,0,0.15);
  margin-bottom: 4px;
  box-sizing: border-box;
  text-align: center;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

.url {
  background: rgba(0,0,0,.2);
  padding: 16px;
  border-radius: 4px;
  outline: none;
  word-wrap: break-word;
  transition: opacity 200ms ease-in-out;
}



.url.disabled {
  opacity: .4;
  cursor: not-allowed;
  -webkit-user-select: none;
}

