@import "normalize.css";

@import "./fonts.css";


html {
  height: 100%;
}

body {
  align-items: center;
  background: #f8a434;
  color: white;
  display: flex;
  font-family: 'San Francisco', sans-serif;
  justify-content: center;
  margin: 0 10px;
  min-height: 100%;
  text-align: center;
}

#root {
  max-width: 640px;
  width: 100%;
}

a {
  color: white;
}
