@import "normalize.css";

@import "./fonts.css";


html {
  height: 100%;
}

body {
  align-items: center;
  color: white;
  background-size: cover;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAAUUlEQVQIWxXKMQ5AQBRF0fuHEZmGRKGyWQmNelZiQzpbwMh/4tTHzryqHxPt1EFsQA4SONiRN6UhUUfjuZxyO6W8gLB9XiT/W8CDEdxRFQnAB1AFHzAT/VTCAAAAAElFTkSuQmCC");
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
  justify-content: center;
  margin: 0 10px;
  min-height: 100%;
  text-align: center;
}

#root {
  max-width: 600px;
  width: 100%;
}

a {
  color: white;
}
