@import "normalize.css";

html {
  height: 100%;
}

body {
  align-items: center;
  color: white;
  background-size: cover;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAAAXNSR0IArs4c6QAAAFhJREFUCB0NyjEKgCAYQOFnOhgEjbU3dpFu0Um7RktL0BoEopjBrzm94XvqWJcyTj3dPIBtIQuUDDUmYLmTxe2O6B9SEN70UQ/MdkXy6aHRiFZoEYqx6Mo/nCIg9vkuNwYAAAAASUVORK5CYII=);
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
  justify-content: center;
  margin: 0 10px;
  min-height: 100%;
  text-align: center;
}

#root {
  max-width: 600px;
  width: 100%;
}

a {
  color: white;
}
